* {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    
    
}
html{
    background: url("wallpaper.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1{
    color: white;
    margin-bottom: -10vh;
}

h2{
    color: white;
}

.title {
    color: white;
    font-size: 85px;
    
}   

h3{
  margin-top: -10vh;
  color: green;
  font-size: 35px;
}

#score{
  color: white;
  font-size: 35px;
  position: absolute;top: 84%;
  left: 10%;
  transform: translate(-50%, -60%);
  padding: 10px;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
  border-radius: 5px;
  background-color: rgba(255, 255, 255, .15); 
  text-align: left;
 
  
  
  

}




.container {
    position: relative;
    width: 50rem;
    height: 25rem;
    margin-right: auto;
    margin-left: auto;
    display: block;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .15);
    
    backdrop-filter: blur(10px);
    text-align:center;
  }

.fa {
    cursor: pointer;
    position: absolute;
    
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  color: white;
  font-size: 100px;
    
}

  .container img{
    position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -60%);
  color: white;
  font-size: 100px;

  }

  .container input{
    position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -60%);
  padding: 10px;
  border:0;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  border-radius:10px;
  
  

  }

  .container button{
    position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -60%);
  padding: 10px;
  border:0;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  border-radius:10px;
  background-color: lightskyblue;
  
  

  }


